# File Types
*.lock
*.pdf
*.toml

# Directories
/.idea/*
/__pycache__/*
/pi/.idea/*
/scripts/__pycache__/*
/scripts/jupyter/__pycache__/*
/scripts/py/*

# Scripts
scripts/jupyter/clustering.ipynb
scripts/jupyter/dwd.ipynb
scripts/jupyter/junk.ipynb
scripts/jupyter/reference_models.ipynb
scripts/jupyter/tsa.ipynb

