# Directories
/.idea/*
/scripts/__pycache__/*
/scripts/jupyter/__pycache__/*

# File Types
*.pdf
*.py

# Data
data/pv_day.csv
data/produkt_ein_min_rr_20190301_20190331_00020.txt
data/DURSUN.2D.201908.grb.bz2

# Scripts
scripts/jupyter/day.ipynb
scripts/jupyter/dwd.ipynb
scripts/jupyter/tsa.ipynb
scripts/jupyter/results.ipynb
scripts/jupyter/reference_models.ipynb
scripts/jupyter/fronius_solar_api_exploration.ipynb
scripts/sql/results.sql
