[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
sqlalchemy = "*"
setuptools = "*"
matplotlib = "*"
psycopg2 = "*"
requests = "*"
scikit-learn = "*"
toml = "*"
seaborn = "*"
python-crontab = "*"

[dev-packages]

[requires]
python_version = "3.9"
